@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

.App {
  box-sizing: border-box;
  font-family: 'Lora', serif; /* Use the new font */
  background-color: #fdf5e6; /* Bone white background */
}

@media (max-width: 768px) {
  .App {
    padding-top: 0; /* Adjust for the fixed navbar on smaller screens */
  }
}
