@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif; /* Use the new font */
  background-color: #fdf5e6; /* Bone white background */
  min-height: 100vh; /* Ensure the app takes at least the full viewport height */
}

@media (max-width: 768px) {
  .App {
    padding-top: 60px; /* Adjust for the fixed navbar on smaller screens */
  }
}
